@model Assignment3.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<h2>Teacher Details</h2>

<form action="/Teacher/DeleteConfirm/@Model.TeacherId">
    <button class="navlink">Delete</button>
</form>

<a class="navlink" href="/Teacher/List">Back To Teachers</a>
<div id="containershow">
    <h2>Name : @Model.TeacherFName @Model.TeacherLName</h2>
    <h3>Employee Number : @Model.EmployeeNumber</h3>
    <h3>Hired Date : @Model.HireDate</h3>
    <h3>Salary : @Model.Salary</h3>
</div>

<style>
 .navlink {
        float: right;
        margin: 10px;
    }
</style>
